@model IEnumerable<TaskManagerGC.Models.Task>

<h1>Task List</h1>
<br/>


<form asp-controller="Task" asp-action="Index">
    <div class="d-flex justify-content-between">
        <a class="btn btn-primary" asp-action="Create">Create New</a>
        <div>
            Order By:
            <button class="btn btn-link" type="submit" value="dueDate" name="orderBy">Due Date</button> |
            <button class="btn btn-link" type="submit" value="completed" name="orderBy">Completion Status</button>
        </div>
    </div>
    <br/>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Title/Description</span>
        </div>
        <input type="text" class="form-control" name="search" onkeyup="this.submit();" value="@ViewBag.search" />
    </div> 
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @if (item.DueDate == null)
                    {
                        <p>TBA</p>
                    }
                    else
                    {
                        @item.DueDate
                    }
                </td>
                <td>
                    @if (item.Completed)
                    {
                        <p style="color: green">Done!</p>
                    }
                    else
                    {
                        <p>In Progress</p>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" style="color: darkred">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>

</script>